* {
    margin: 0;
    font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif; 
}
body {
    background-color: whitesmoke;
}
header {
    display: grid;
    grid-template-columns: 30% 70%;
    background: -webkit-linear-gradient(90deg, #6a64f6,#a96ddf,#c77fcd,#a789c9);
    background: linear-gradient(90deg, #6a64f6,#a96ddf,#c77fcd,#a789c9);
    padding: 15px;
}
header a {
    color: white;
    text-decoration: none;
    display: inline-block;
    max-width: 350px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.main_menu {
    background-color: white;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    margin: 15px 25px 5px 25px;
}
.menu_buttons {
    display: flex;
    justify-content: center; 
    align-items: center;
}
.main_menu a {
    text-align: center;
    background-color: white;
    display: block;
    margin: 20px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    padding: 5px;
    border: 1px solid grey;
    width: 200px;
    transition: 0.1s;
}
.main_menu a:hover {
    transform: scale(1.1);
}
.birthday_calendar {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    min-height: 70vh;
    margin: 5px 15px 5px 15px;
}
.dates_title {
    text-align: center;
    background-color: white;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
}
.dates_block {
    text-align: center;
    background-color: white;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 0 15px 0 15px;
    margin: 10px;
    flex-grow: 1;
    box-sizing: border-box;
    height: 515px;
    overflow-y: auto;
}
.menu_buttons a {
    cursor: pointer;
}
.birthdays {
    display: grid;
    grid-template-columns: 5% 25% 70%;
    margin: 15px 3px 15px 3px;
    border: 1px solid grey;
    padding: 10px;
    border-radius: 5px;
    background-color: whitesmoke;
    align-items: center;
}
.birthday_avatar img {
    max-width: 85px;
    height: auto;
}
.name, .description, .date {
    margin: 5px;
}
.header_date h2 {
    text-align: right;
    margin: 15px;
    color: white;
    text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
}