* {
    margin: 0;
    font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif; 
}
header {
    background: -webkit-linear-gradient(90deg, #6a64f6,#a96ddf,#c77fcd,#a789c9);
    background: linear-gradient(90deg, #6a64f6,#a96ddf,#c77fcd,#a789c9);
    padding: 15px;
}
header a {
    color: white;
    text-decoration: none;
}