<!DOCTYPE html>
<html>
<head>
    <title th:text="${title}"></title>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="images/icon.png" />
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/edit.css">
</head>
<body>
<header>
    <a th:href="@{/}">
        <h1>📅 Поздравлятор</h1>
        <p>&nbsp;&nbsp;&nbsp;Ведение списка дней рождения</p>
    </a>
</header>
<main>
    <a class="back_to_main" th:href="@{/}">
        <p>⬅️ Вернуться назад</p>
    </a>
    <div class="edit_panel">
        <div class="edit_label">
            <h2>Редактирование записи:</h2>
        </div>
        <div class="edit_content">
            <input type="text" placeholder="Имя" id="name"><br>
            <input type="text" placeholder="Описание" id="description"><br>
            <input type="date" id="date"><br>
            <a class="edit" id="send_to_server">
                <p id="send_updated_to_server">Изменить ✅</p>
            </a>
        </div>
    </div>
</main>
<script src="js/edit.js"></script>
</body>
</html>