<!DOCTYPE html>
<html>
<head>
    <title th:text="${title}"></title>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="images/icon.png" />
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <header>
        <a th:href="@{/}">
            <h1>📅 Поздравлятор</h1>
            <p>&nbsp;&nbsp;&nbsp;Ведение списка дней рождения</p>
        </a>
    </header>
    <main>
        <div class="main_menu">
            <div class="menu_title">
                <h2>Меню приложения:</h2>
            </div>
            <div class="menu_buttons">
                <a href="#">
                    <p>🟩 Создать 🟩</p>
                </a>
                <a href="#">
                    <p>🟨 Редактировать 🟨</p>
                </a>
                <a href="#">
                    <p>🟥 Удалить 🟥</p>
                </a>
            </div>
        </div>
        <div class="birthday_calendar">
            <div class="dates_block">
                <div class="dates_title">
                    <h2>🥳 Сегодня день рождения отмечают:</h2>
                </div>
                <div class="dates_content"></div>
            </div>
            <div class="dates_block">
                <div class="dates_title">
                    <h2>😊 Скоро день рождения будут отмечать:</h2>
                </div>
                <div class="dates_content"></div>
            </div>
            <div class="dates_block">
                <div class="dates_title">
                    <h2>😉 Будущие дни рождения:</h2>
                </div>
                <div class="dates_content"></div>
            </div>
        </div>
    </main>
    <script src="js/main.js"></script>
</body>
</html>